@model IEnumerable<Tractor.Pull.Mvc.Models.TractorViewModel>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Torque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnwerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnwerPrimaryContact)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BHP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Torque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnwerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnwerPrimaryContact)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
